body {
  background-color: #f2f2f2;
}

.centerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleMargin {
  margin-top: 60px;
  margin-bottom: 30px;
}

.btnCrud {
  color: white;
}

.tableCrud {
  margin-top: 30px;
  width: 60%;
}

@media (max-width: 1200px) {
  .tableCrud {
    width: 100%;
  }
}